/*@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/bebasneue.ttf");
}*/

@font-face {
    font-family: "Libertine";
    src: url("../fonts/libertine.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono.ttf");
}

/*@font-face {
    font-family: "Oranienbaum";
    src: url("../fonts/oranienbaum.ttf");
}*/

/*@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.ttf");
}*/

@font-face {
    font-family: "Hack";
    src: url("../fonts/hack.ttf");
}